{% load static %}
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>The Universal Communications Service Access Fund (UCSAF)</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h4>Established under the Universal Communications Service Access Act; Cap 422 which was assented by the President of the United Republic of Tanzania in January 2007.</h4>
         
          <p>
            The Government of Tanzania has taken initiative to ensure that communication as a universal right is accessible to its entire population; the Fund was established to facilitate access to communication services. While it is the responsibility of private entities to provide communication services, the Government came to realize that not all areas in the country could be economically viable for provision of communication services, the Fund came to existence to ensure that even those areas which are economically unviable have access to communication services (ICT, Postal and Broadcasting).
          </p>
        </div>
      </div>

    </div>
  </section>