<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>UCSAF<span> ePMS</span></h3>
            <p>
                2nd Floor,<br>
                 Old Computer Lab Building,<br>
                College of Informatics and Virtual Education (CIVE),<br>
                 University of Dodoma,<br>
                  P.O.Box 1957, DODOMA.<br><br>
              <strong>Phone:</strong> +255 26 2965771<br>
              <strong>Email:</strong> ceo@ucsaf.go.tz<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.ucsaf.go.tz">UCSAF</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.mawasiliano.go.tz/">Ministry of Communication and Information Technology</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Projects</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Rural Telecommunication projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Internet Hotspot in Public Areas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Radio Broadcasting Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ICT facilities and Internet Connectivity to Public Schools</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Special ICT learning equipment to disabled schools</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p></p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/UcsafTs=08-Tanzania" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/Ucsaf-Tanzania-102946461816512" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/ucsaftz/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCexOPZoWtYknRigXx4V-_kg" class="youtube"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>UCSAF</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">DIT</a>
      </div>
    </div>
  </footer><!-- End Footer -->