 {% load static %}
{% comment %} top bar {% endcomment %}
 <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">ceo@ucsaf.go.tz</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+255 26 2965771</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://twitter.com/UcsafTs=08-Tanzania" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/Ucsaf-Tanzania-102946461816512" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/ucsaftz/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCexOPZoWtYknRigXx4V-_kg" class="youtube"><i class="bi bi-youtube"></i></i></a>
      </div>
    </div>
  </section>

 <!-- ======= Header ======= -->
 <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">UCSAF <span>ePMS</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Projects</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="#">Signin</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->